/* body {
	overflow: hidden;
} */

:root {
	--mainColor: #3390ec;
	--whiteColor: #ffffff;
	--blackColor: #000000;
	--borderColor: #dfe1e5;
	--greenColor: #0ac630;
	--unreadMessage: #c4c9cc;
	--grayColor: #707579;
}

.main-cont {
	display: flex;
}
.left-side {
	width: 35%;
	background-color: white;
	border: 1px solid rgb(198, 194, 194);
	position: relative;
}
.right-side {
	width: 30%;
	background-color: white;
	border: 1px solid rgb(198, 194, 194);
	position: relative;
}

.sidebar-header {
	display: flex;
	padding: 10px 0;
}

.toggle-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	height: 2rem;
	border-radius: 50%;
	cursor: pointer;
	transform: all 0.3s ease;
	margin-top: 10px;
	padding: 4px 0px;
}
.toggle-button:hover {
	background-color: hsla(207, 4%, 46%, 0.08);
	margin-top: 10px;
	padding: 4px 0px;
}

.search-box {
	display: flex;
	position: relative;
	border: 0.1rem solid #dfe1e5;
	border-radius: 2.2rem;
	width: 100%;
	padding: 0.4rem 1rem;
	align-items: center;
	gap: 1rem;
	transition: all 0.3s ease-in-out;
	margin: 0 10px;
}

.search-box label {
	display: flex;
	width: 100%;
}
.search-icon {
	color: var(--grayColor);
	font-size: 1rem;
	opacity: 0.6;
	margin-top: 8px;
	padding-top: 4px;
}

.cancel-text {
	padding: 5px;
	border-radius: 50%;
	margin-top: 7px;
	margin-bottom: 4px;
}

.cancel-text:hover {
	padding: 5px;
	border-radius: 50%;
}

.search-box input {
	position: relative;
	border: none;
	outline: none;
	width: 100%;
	padding: 10px 4px;
	margin-top: 3px;
	font-size: 1rem;
}

.search-box input::placeholder {
	color: #707579;
	font-size: 1.2rem;
	font-weight: 500;
	opacity: 0.6;
}

.focus {
	border: 0.1rem solid var(--mainColor);
}

.focus label i {
	color: var(--mainColor);
}

.focus label .cancel-text {
	background-color: rgb(230, 247, 255);
	padding: 5px 8px;
	border-radius: 50%;
	cursor: pointer;
}

.tabs-chat {
	border-bottom: 1px solid rgb(198, 194, 194);
	display: flex;
	justify-content: space-around;
	margin-bottom: 15px;
}

.tab-chat {
	cursor: pointer;
	padding: 12px 26px;
}

.tab-chat.active {
	padding: 12px 20px;
	color: #087ea4;
	border-bottom: 4px solid #087ea4;
}
.tab-chat.active:hover {
	padding: 12px 26px;
	color: #087ea4;
	background-color: rgb(230, 247, 255);
}
.tab-chat:hover {
	background-color: #f0f0f0;
	border-radius: 10% 10% 0 0;
}

.body-container {
	/* position: fixed; */
	/* Adjust the maximum height as needed */
	padding: 0 0.5rem;
	/* width: 21%; */
}

.body-container .chat-list {
	display: flex;
	flex-direction: column;
}

.chat-box {
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 94%;
	padding: 0.3rem 1rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.chat-box1 {
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 94%;
	padding: 0.3rem 1rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.selected {
	background-color: hsla(207, 4%, 46%, 0.08);
	border-radius: 1rem;
}
.chat-box-anchor {
	text-decoration: none;
	color: #707579;
}

.chat-box-anchor:hover {
	background-color: hsla(207, 4%, 46%, 0.08);
	border-radius: 1rem;
}

.chat-box-anchor.active {
	font-weight: bold;
	background-color: rgb(230, 247, 255);
	border-radius: 1rem;
	color: #087ea4;
}
.chat-img {
	/* width: 2.4rem;
    height: 2.4rem; */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
}

.chat-img img {
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.chat-details {
	flex-basis: 88%;
}

.chat-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-title h3 {
	font-weight: 500;
	font-size: 1.1rem;
	margin-top: 5px;
	margin-bottom: 4px;
}

.chat-title span {
	color: var(--grayColor);
	font-size: 0.8rem;
}

.chat-msg {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 20px;
}

.chat-msg p {
	font-size: 1rem;
	margin: 0;
	color: var(--grayColor);
}

.notification-span {
	border-radius: 50%;
	color: var(--whiteColor);
	background-color: var(--greenColor);
	font-size: 1rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
	padding: 2px;
}

.create-channel-button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 20px;
	border-radius: 50%;
	background-color: #087ea4;
	color: white;
	cursor: pointer;
}

.create-channel {
	position: absolute;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	background-color: #087ea4;
	color: white;
	cursor: pointer;
}

.hover-text {
	position: absolute;
	bottom: 10px;
	right: 60px;
	color: #087ea4;
	padding: 10px;
	border-radius: 4px;
	opacity: 0; /* Initially hidden */
}

.create-channel:hover .hover-text {
	opacity: 1;
}

@media (max-height: 600px) {
	.chat-list {
		max-height: 65vh; /* Adjust the maximum height as needed */
		overflow-y: auto;
		overflow-x: hidden;
	}
	::-webkit-scrollbar {
		width: 0.3rem;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 1rem;
		background: var(--borderColor);
	}
}

@media (max-height: 700px) {
	.chat-list {
		max-height: 65vh; /* Adjust the maximum height as needed */
		overflow-y: auto;
		overflow-x: hidden;
	}
	::-webkit-scrollbar {
		width: 0.3rem;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 1rem;
		background: var(--borderColor);
	}
}

@media (max-height: 900px) {
	.chat-list {
		max-height: 65vh; /* Adjust the maximum height as needed */
		overflow-y: auto;
		overflow-x: hidden;
	}
	::-webkit-scrollbar {
		width: 0.3rem;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 1rem;
		background: var(--borderColor);
	}
}

/* @media (max-width: 1100px) {
	.right-side {
	}
  } */

/*End Aside Section*/
/*Start Content Section*/
.content {
	position: relative;
	width: 65%;
	height: 94vh;
	background: linear-gradient(132deg, #d5d88d 0%, #88b884 100%);
}

.new_content_width {
	width: 40%;
}

.content::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90vh;
	background: url('../img/pattern.svg');
	background-size: contain;
	opacity: 0.5;
}

.content .container-content {
	transition: all 0.5s ease;
}

.content-header {
	position: relative;
	background-color: var(--whiteColor);
	padding: 0 1rem;
	display: flex;
	align-items: center;
	border: 1px solid rgb(198, 194, 194);
	cursor: pointer;
}

.content-header .image {
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-header .image img {
	border-radius: 50%;
	max-width: 100%;
	object-fit: cover;
}

.content-header .details {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
	gap: 0.5rem;
}

.content-header .details h3 {
	font-size: 1.4rem;
	font-weight: 500;
}

.chat-container {
	position: relative;
	max-height: 62vh; /* Limit the maximum height if you want a scrollable chat */
}

.chat-container .chat-msg {
	border-radius: 1rem;
	padding: 0.5rem 0.7rem;
	display: flex;
	gap: 1rem;
}

.message-box {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	/* display: flex; */
	align-items: center;
	gap: 2rem;
	width: 90%;
}

.message-content {
	position: relative;
	background-color: var(--whiteColor);
	border-radius: 1rem 1rem 0 1rem;
	padding: 1rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 70%;
}

.message-content::before {
	content: '';
	position: absolute;
	bottom: -0.4px;
	right: -2.7rem;
	border: 1rem solid transparent;
	border-left: 2rem solid var(--whiteColor);
	border-bottom: 2rem;
}

.message-content i {
	font-size: 1.3rem;
	color: var(--grayColor);
	cursor: pointer;
}

.message-content textarea {
	font-size: 1.2rem;
	width: 100%;
	padding: 0.5rem;
	outline: none;
	border: none;
	margin: 0;
	padding: 0;
	resize: none;
}

.message-content textarea::placeholder {
	font-weight: 500;
	color: var(--borderColor);
}

@media (max-width: 3220px) {
	.left-side[data-globaluserinfo='true'][data-paramid='true'] {
		width: 35%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
	}
	.content[data-globaluserinfo='true'][data-paramid='true'] {
		width: 35%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
		display: block;
	}
	.right-side[data-globaluserinfo='true'][data-paramid='true'] {
		width: 30%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
		display: block;
	}

	.left-side[data-globaluserinfo='false'][data-paramid='true'] {
		width: 35%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
	}
	.content[data-globaluserinfo='false'][data-paramid='true'] {
		width: 65%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
		display: block;
	}

	.left-side[data-globaluserinfo='false'][data-paramid='false'] {
		width: 35%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
	}
}

@media (max-width: 1920px) {
	.left-side[data-globaluserinfo='true'][data-paramid='true'] {
		width: 35%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
	}
	.content[data-globaluserinfo='true'][data-paramid='true'] {
		width: 35%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
		display: block;
	}
	.right-side[data-globaluserinfo='true'][data-paramid='true'] {
		width: 30%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
		display: block;
	}

	.left-side[data-globaluserinfo='false'][data-paramid='true'] {
		width: 35%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
	}
	.content[data-globaluserinfo='false'][data-paramid='true'] {
		width: 65%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
		display: block;
	}

	.left-side[data-globaluserinfo='false'][data-paramid='false'] {
		width: 35%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
	}
}

@media (max-width: 1620px) {
	.left-side[data-globaluserinfo='true'][data-paramid='true'] {
		width: 35%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
	}
	.content[data-globaluserinfo='true'][data-paramid='true'] {
		width: 35%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
		display: block;
	}
	.right-side[data-globaluserinfo='true'][data-paramid='true'] {
		width: 30%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
		display: block;
	}

	.left-side[data-globaluserinfo='false'][data-paramid='true'] {
		width: 35%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
	}
	.content[data-globaluserinfo='false'][data-paramid='true'] {
		width: 65%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
		display: block;
	}

	.left-side[data-globaluserinfo='false'][data-paramid='false'] {
		width: 35%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
	}
}

@media (max-width: 1380px) {
	.left-side[data-globaluserinfo='true'][data-paramid='true'] {
		width: 40%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
	}
	.content[data-globaluserinfo='true'][data-paramid='true'] {
		width: 0%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
	}
	.right-side[data-globaluserinfo='true'][data-paramid='true'] {
		width: 60%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
		display: block;
	}

	.left-side[data-globaluserinfo='false'][data-paramid='true'] {
		width: 40%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
	}
	.content[data-globaluserinfo='false'][data-paramid='true'] {
		width: 60%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
		display: block;
	}
}

@media (max-width: 1200px) {
	.left-side[data-globaluserinfo='true'][data-paramid='true'] {
		width: 50%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
	}
	.content[data-globaluserinfo='true'][data-paramid='true'] {
		width: 0%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
	}
	.right-side[data-globaluserinfo='true'][data-paramid='true'] {
		width: 50%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
		display: block;
	}

	.left-side[data-globaluserinfo='false'][data-paramid='true'] {
		width: 50%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
	}
	.content[data-globaluserinfo='false'][data-paramid='true'] {
		width: 50%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
		display: block;
	}

	.left-side[data-globaluserinfo='false'][data-paramid='false'] {
		width: 50%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
	}
}

@media (max-width: 900px) {
	.tab-chat.active {
		padding: 12px 14px;
	}
	.tab-chat.active:hover {
		padding: 12px 14px;
	}
	.search-box {
		padding: 0.2rem 0.7rem;
	}
	.toggle-button {
		margin-top: 5px;
	}
	.toggle-button:hover {
		margin-top: 5px;
	}
}

@media (max-width: 800px) {
	/* When globalUserInfo.get() === true, adjust the widths */
	.container {
		max-width: 100vw;
	}
	.left-side[data-globaluserinfo='true'][data-paramid='true'] {
		width: 0%; /* Content width is 0% when globalUserInfo is true */
	}

	.content[data-globaluserinfo='true'][data-paramid='true'] {
		width: 0%; /* Content width is 0% when globalUserInfo is true */
	}

	.right-side[data-globaluserinfo='true'][data-paramid='true'] {
		width: 100%; /* Right-side width is 50% when globalUserInfo is true */
	}

	.left-side[data-globaluserinfo='false'] {
		width: 100%; /* Content width is 0% when globalUserInfo is true */
		height: 97vh;
	}

	.content[data-globaluserinfo='false'] {
		display: none;
		width: 0%; /* Content width is 0% when globalUserInfo is true */
	}

	.content[data-globaluserinfo='false'][data-paramid='true'] {
		width: 100%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
		display: block;
	}
	.left-side[data-globaluserinfo='false'][data-paramid='true'] {
		width: 0%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
		display: none;
	}
	.left-side[data-globaluserinfo='false'][data-paramid='false'] {
		width: 100%; /* Content width is 100% when globalUserInfo is false and param.id is not undefined */
	}
}

@media (max-width: 750px) {
	.chat-container {
		max-height: 50vh;
	}
}

@media (max-width: 400px) {
	.join-channel input {
		border: 1px solid #087ea4;
		border-radius: 10px;
		padding: 5px;
		margin: 0 4px;
	}

	.chat-box1 {
		gap: 0.4rem;
		padding: 0.3rem 0.3rem;
		flex-direction: column;
	}
}
